@use "./pages/welcome";

@use "./dashboard/contatti";

@use "./components/logout-button";
@use "./components/add-new-project";
@use "./components/home-button";
@use "./components/login-register-button";
@use "./components/name-button";
@use "./components/home-dashboard-button";


@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    min-height: 100vh;
    
    background: lightblue;
    background: radial-gradient(
            circle,
            rgb(170, 162, 162),
            #333 30%,
            rgba(88, 84, 84, 0.226) 0%
        ),
        radial-gradient(
            circle at 40px 40px,
            rgb(233, 228, 228),
            #333 30%,
            rgba(88, 84, 84, 0) 0%
        ),
        radial-gradient(
            circle at 600px 200px,
            rgb(233, 228, 228),
            #333 10%,
            rgba(88, 84, 84, 0) 0%
        ),
        radial-gradient(
            circle at 800px 100px,
            rgb(233, 228, 228),
            #333 10%,
            rgba(88, 84, 84, 0) 0%
        ),
        radial-gradient(
            circle at 700px 500px,
            rgb(233, 228, 228),
            #333 2%,
            rgba(88, 84, 84, 0.123) 0%
        ),
        radial-gradient(
            circle at 200px 400px,
            rgb(233, 228, 228),
            #333 1%,
            rgba(88, 84, 84, 0) 0%
        ),
        radial-gradient(
            circle at 300px 700px,
            rgb(233, 228, 228),
            #333 15%,
            rgba(88, 84, 84, 0) 0%
        ),
        radial-gradient(
            circle at 900px 500px,
            rgb(233, 228, 228),
            #333 20%,
            rgba(88, 84, 84, 0) 0%
        ),
        radial-gradient(
            circle at 650px 400px,
            rgb(233, 228, 228),
            #333 10%,
            rgba(88, 84, 84, 0) 0%
        ),
        radial-gradient(
            circle at 600px 600px,
            rgb(233, 228, 228),
            #333 1%,
            rgba(88, 84, 84, 0.959) 0%
        );
}

table{
    cursor: pointer;
}